<div id="footer-block">
    <div id="footer-left-half">
        <div>
            <div id="about-appt">
                <div id="about-appt-about">About</div>
                <div id="about-appt-appt">Appt</div>
            </div>
            <div>Appt is a project app created by Edwin Yi</div>
            <div id="find-out-more">You can find out more about the creator below:</div>
            <div id="social-media-links">
                <a href="https://github.com/edwinyi516"><img src="/assets/images/github-icon.png" id="github-icon"></a>
                <a href="https://www.linkedin.com/in/edwinyi516/"><img src="/assets/images/linkedin-icon.png" id="linkedin-icon"></a>
                <a href="https://www.instagram.com/edwinhyi/"><img src="/assets/images/instagram-icon.png" id="instagram-icon"></a>
            </div>
        </div>
    </div>
    <div id="footer-right-half">
        <div id="copyright-and-privacy">
            <div id="copyright">Copyright, Edwin Yi, 2022 (not really)</div>
            <div id="privacy">Privacy&nbsp;&nbsp;|&nbsp;&nbsp;Terms and Conditions</div>
        </div>
    </div>
    <script>
        document.getElementById("privacy").addEventListener("click", () => {
            alert("Nah, just kidding - that doesn't go anywhere")
        })
    </script>
</div>