<form action="UPDATEROUTEHERE" method="POST">
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="sundayAvailable" id="sundayAvailable">
        <label class="form-check-label" for="sundayAvailable">Sunday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="sundayStart" id="sundayStart">
            <input class="form-control availability-time-end" name="sundayEnd" id="sundayEnd">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="mondayAvailable" id="mondayAvailable">
        <label class="form-check-label" for="mondayAvailable">Monday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="mondayStart" id="mondayStart">
            <input class="form-control availability-time-end" name="mondayEnd" id="mondayEnd">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="tuesdayAvailable" id="tuesdayAvailable">
        <label class="form-check-label" for="tuesdayAvailable">Tuesday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="tuesdayStart" id="tuesdayStart">
            <input class="form-control availability-time-end" name="tuesdayEnd" id="tuesdayEnd">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="wednesdayAvailable" id="wednesdayAvailable">
        <label class="form-check-label" for="wednesdayAvailable">Wednesday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="wednesdayStart" id="wednesdayStart">
            <input class="form-control availability-time-end" name="wednesdayEnd" id="wednesdayEnd">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="thursdayAvailable" id="thursdayAvailable">
        <label class="form-check-label" for="thursdayAvailable">Thursday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="thursdayStart" id="thursdayStart">
            <input class="form-control availability-time-end" name="thursdayEnd" id="thursdayEnd">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="fridayAvailable" id="fridayAvailable">
        <label class="form-check-label" for="fridayAvailable">Friday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="fridayStart" id="fridayStart">
            <input class="form-control availability-time-end" name="fridayEnd" id="fridayEnd">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="saturdayAvailable" id="saturdayAvailable">
        <label class="form-check-label" for="saturdayAvailable">Saturday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="saturdayStart" id="saturdayStart">
            <input class="form-control availability-time-end" name="saturdayEnd" id="saturdayEnd">
        </div>
    </fieldset>
    <input type="submit" value="Submit">
</form>