<p>Name: <%= user.firstName + " " + user.lastName %></p>
<% if (user.usertype === "serviceprovider") { %>
<p>Company: <%= user.company %></p>
<% } %>
<p>Phone: <%= user.phone %></p>
<p>Email: <%= user.email %></p>