<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/style.ejs") %>
    <title>Appt</title>
</head>
<%- include("./partials/navbar.ejs", {user: user}) %>
<body>
    <div id="homepage-banner1">
        <div id="banner1-1">
            <div id="welcome-message">
                <div id="welcome-to">Welcome to </div>
                <div id="banner1-appt">Appt</div>
            </div>
            <div id="easy-appointments">Appt offers a seamless scheduling process for service providers and customers.</div>
            <a href="/sp" class="btn btn-primary" id="view-service-providers">View Service Providers</a>
        </div>
        <div id="banner1-2">
            <img src="./assets/images/main-banner-image.png" id="main-banner-image">
        </div>
    </div>
    <div id="homepage-banner-2">
        <div id="optimize-text">Streamline the tedious process of setting appointments</div>
        <div class="card-deck">
            <div class="card mx-4">
                <div class="card-body">
                    <img src="./assets/images/checklist-icon.png" class="card-icon">
                    <h5 class="card-title">Simple sign up</h5>
                    <p class="card-text">Enter some basic info like your name and availability and be ready to set new appointments within minutes.</p>
                </div>
            </div>
            <div class="card mx-4">
                <div class="card-body">
                    <img src="./assets/images/share-icon.png" class="card-icon">
                    <h5 class="card-title">Share your link</h5>
                    <p class="card-text">Your customers can see your info and availability.<br>Booking an appointment with you only takes a few clicks.</p>
                </div>
            </div>
            <div class="card mx-4">
                <div class="card-body">
                    <img src="./assets/images/organize-icon.png" class="card-icon">
                    <h5 class="card-title">Effortless organization</h5>
                    <p class="card-text">Easily keep track of your appointments and customers from within the dashboard.</p>
                </div>
            </div>
        </div>
        <form action="/users/register">
            <button type="submit" class="btn btn-primary" id="banner-2-get-started-button">Get Started</button>
        </form>
    </div>
</body>
</html>