<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/style.ejs") %>
    <title>Appt</title>
</head>
<%- include("./partials/navbar.ejs", {user: user}) %>
<body>
    <div id="homepage-banner1">
        <div id="banner1-1">
            <div id="welcome-message">
                <div id="welcome-to">Welcome to </div>
                <div id="banner1-appt">Appt</div>
            </div>
            <div id="easy-appointments">Appt offers a seamless scheduling system for service providers and customers</div>
            <a href="/sp" class="btn btn-primary" id="view-service-providers">View Service Providers</a>
        </div>
        <div id="banner1-2">
            <img src="./assets/images/main-banner-image.png" id="main-banner-image">
        </div>
    </div>
</body>
</html>