nav {
    display: flex;
    height: fit-content;
    background-color: #f3f3f3;
    align-items: baseline;
}
.auth-action {
    display: flex;
    color: #000000;
    margin-left: auto;
    padding-right: 12px;
    align-items: center;
    width: auto;
    min-width: auto;
}
#sign-in-link {
    font-family: "Raleway";
}
#sign-up-button {
    margin-left: 30px;
    font-family: "Raleway"
}
#nav-home-button {
    font-family: "Lobster";
    font-size: 40px;
    color: #007bff;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 10px;
}
.dropdown-menu {
    font-family: "Raleway";
}
#nav-logout-button {
    margin-left: 20px;
}

#homepage-banner1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 85px 70px 110px 70px;
    min-width: 1200px;
}
#welcome-message {
    display: flex;
    justify-content: left;
    align-items: baseline;
}
#welcome-to {
    font-family: "Lato";
    font-weight: 700;
    font-style: italic;
    font-size: 62px;
    color: #00438b;
    margin-right: 17px;
}
#banner1-appt {
    font-family: "Lobster";
    font-size: 75px;
    color: #007bff;
}
#easy-appointments {
    font-family: "Raleway";
    font-size: 18px;
    margin-top: 5px;
    white-space: nowrap;
}
#view-service-providers {
    margin-top: 60px;
    font-family: "Raleway"
}
#main-banner-image {
    max-width: 500px;
    margin-bottom: -100px;
    margin-right: -35px;
    margin-left: 40px;
}

#dashboard-title {
    margin: 30px;
}
.availability-day {
    margin: 0px 30px 30px 30px;
}

#myTab {
    margin: 0px 30px;
}
.tab-content {
    margin: 0px 30px;
    padding: 30px;
}



@media (max-width: 1250px) {
    #homepage-banner1 {
        flex-wrap: wrap;
        min-width: 750px;
    }
    #welcome-message {
        justify-content: center;
    }
    #banner1-1 {
        text-align: center;
    }
    #banner1-2 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }
    #main-banner-image {
        margin: auto;
    }
}