/*========== FILL ==========*/
html {
    height: 100%;
}

/*========== NAVBAR ==========*/
nav {
    display: flex;
    height: fit-content;
    background-color: #f0f7fd;
    align-items: baseline;
}
.auth-action {
    display: flex;
    color: #000000;
    margin-left: auto;
    padding-right: 12px;
    align-items: center;
    width: auto;
    min-width: auto;
}
#sign-in-link {
    font-family: "Raleway";
}
#sign-up-button {
    margin-left: 30px;
    font-family: "Raleway"
}
#nav-home-button {
    font-family: "Lobster";
    font-size: 45px;
    color: #007bff;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 10px;
}
#hi-user-nav {
    font-family: "Raleway";
    color: #00438b;
    font-weight: 400;
}
.dropdown-menu {
    font-family: "Raleway";
}
#nav-logout-button {
    margin-left: 20px;
}

/*========== HOMEPAGE ==========*/
/*Banner 1*/
#homepage-banner-1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 60px 70px 85px 70px;
    min-width: 1200px;
}
#welcome-message {
    display: flex;
    justify-content: left;
    align-items: baseline;
}
#welcome-to {
    font-family: "Lato";
    font-weight: 700;
    font-style: italic;
    font-size: 68px;
    color: #00438b;
    margin-right: 17px;
}
#banner1-appt {
    font-family: "Lobster";
    font-size: 80px;
    color: #007bff;
}
#easy-appointments {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    white-space: nowrap;
}
#view-service-providers {
    margin-top: 50px;
    font-family: "Raleway"
}
#main-banner-image {
    max-width: 500px;
    margin-bottom: -100px;
    margin-right: -35px;
    margin-left: 40px;
}
/*Banner 2*/
#homepage-banner-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0px;
    background-color: #f7f7f7;
    overflow: auto;
}
#optimize-text {
    font-family: "Lato";
    font-size: 27px;
    color: #00438b;
    white-space: nowrap;
}
.card {
    width: 18rem;
    margin-top: 40px;
    font-family: "Raleway";
    border-color: #dbecff;
    border-radius: 15px;
}
.card-title {
    font-weight: 500;
    font-size: 21px;
}
.card-text {
    font-weight: 300;
    font-size: 17px;
    color: #00438b;
}
.card-icon {
    width: 35px;
    margin-bottom: 15px;
    margin-left: 10px;
}
#banner-2-get-started-button {
    margin-top: 50px;
    font-size: 20px;
    font-family: "Raleway";
}

/*========== FOOTER ==========*/
#footer-block {
    display: flex;
    background-color: #00438b;
    color: #ffffff;
    justify-content: center;
}
#footer-left-half {
    width: 50%;
    min-width: 575px;
    padding: 60px 80px 70px 100px;
    font-size: 17px;
    font-family: "Raleway";
    max-width: 800px;
}
#about-appt {
    display: flex;
    align-items: center;
}
#about-appt-about {
    float: left;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
}
#about-appt-appt {
    font-family: "Lobster";
    color: #007bff;
    font-size: 50px;
}
#find-out-more {
    margin-top: 3px;
}
#social-media-links {
    margin-top: 10px;
}
#github-icon, #linkedin-icon, #instagram-icon {
    width: 30px;
    margin-left: 5px;
    margin-right: 10px;
}
#github-icon:hover, #linkedin-icon:hover, #instagram-icon:hover {
    filter: drop-shadow(1px 1px 3px #ffffff);
}
#footer-right-half {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    min-width: 575px;
    max-width: 800px;
    font-family: "Raleway";
}
#copyright-and-privacy {
    text-align: right;
    margin: 60px 100px 70px 80px;
    font-size: 14px;
}
#privacy:hover {
    text-decoration: underline;
    cursor: default;
}

/*========== REGISTER MAIN PAGE ==========*/
#register-page {
    background-image: linear-gradient(#eff8ff 10%, #6cb1ff);
    height: 100%;
}
#register-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -93.5px;
}
.register-page-button-frame {
    border-radius: 40px;
    border: hidden;
    margin: -100px 50px 0px 50px;
    border-color: #7ebdff;
    background-color: #f0f8ff;
}
.register-page-button-frame:hover {
    box-shadow: 4px 4px 12px 1px #8a8a8a;
}
#new-customer-button, #new-sp-button {
    max-width: 350px;
    overflow: auto;
}

/*========== SIGN IN / REGISTER /EDIT FORM PAGES ==========*/
#register-form-body {
    height: 100%;
    min-height: 1000px;
}
#register-form-page {
    background-image: linear-gradient(#eff8ff 10%, #6cb1ff);
    margin-top: -93.5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signin-form-box {
    margin-top: -400px;
}
#signin-form-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 35px;
    color: #00438b;
    margin-bottom: 15px;
}
#signin-submit-button {
    margin-top: 20px;
    width: 40%;
    align-self: center;
}
#register-form-box-sp {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    background-color: #e5f1ff;
    padding: 80px 80px 80px 80px;
    border-style: hidden;
    border-radius: 40px;
    font-family: "Raleway";
}
#register-form-box-customer {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    background-color: #ddeeff;
    padding: 100px 80px 80px 80px;
    border-style: hidden;
    border-radius: 40px;
    font-family: "Raleway";
}
#create-new-user-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 35px;
    color: #00438b;
}
#sr-form {
    display: flex;
    flex-direction: column;
}
#sr-fieldset {
    display: inline-block;
    margin-bottom: 10px;
}
#sr-label {
    font-size: 14px;
    margin-bottom: -10px;
}
#required-fields {
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
}
#name-line {
    display: inline-block;
}
.sr-input {
    width: 100%;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: #d5d5d5;
    background-color: #fcfcfc;
}
#new-user-submit {
    margin-top: 20px;
    width: 40%;
    align-self: center;
}
#return-to-dashboard {
    width: fit-content;
}
#edit-profile-buttons {
    display: flex;
    margin-top: 30px;
}
#edit-profile-save {
    margin-left: auto;
    margin-right: 0;
    width: 225px;
}

/*========== DASHBOARD ==========*/
#dashboard-title {
    padding: 50px 50px 40px 50px;
    background-color: #00438b;
}
#dashboard-title-text {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 50px;
    color: #f0f7ff;
}
#dash-welcome-text {
    font-family: "Raleway";
    font-size: 18px;
    color: #ffffff;
    margin-left: 5px;
}
#dashboard-to-new-appointment-button {
    margin-bottom: 40px;
}
.availability-day {
    margin: 0px 50px 50px 50px;
}
#upcoming-appointments-card-div {
    margin-bottom: 80px;
}
#past-in-order {
    font-style: italic;
    font-size: 20px;
}
#myTab {
    margin: 50px 50px;
}
.tab-content {
    margin: 0px 50px;
    padding: 0px 40px;
}
#availability-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.availability-day {
    width: 30%;
    align-self: flex-start;
    margin: 15px 0px;
}
#availability-submit-button {
    margin: 20px 0px 75px 0px;
    width: 20%;
}
#new-appointment-type-button {
    width: 200px;
    margin-left: 40px;
}
#appointment-type-card {
    width: 50%;
}
#create-appointment-type-button-block {
    margin-top: 30px;
}
.nav-item {
    font-family: "Raleway";
    font-weight: 500;
}
.tab-content {
    font-family: "Raleway";
}
#my-profile-div {
    font-size: 18px;
}
#edit-profile-button {
    margin-top: 20px;
}

/*========== SERVICE PROVIDERS INDEX ==========*/
#service-providers-title {
    width: 100%;
    text-align: center;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 60px;
    color: #00438b;
    margin: 60px 0px;
}
#service-providers-index-card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sp-index-card {
    width: 40%;
    text-align: center;
    background-color: #f6faff;
}
#sp-card-title {
    font-weight: 600;
}
.sp-card-description {
    color: #00438b;
    font-style: italic;
}

/*========== APPOINTMENT BOOKING ==========*/
#book-appointment-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#book-appointment-title {
    width: 100%;
    text-align: center;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 45px;
    color: #00438b;
    margin: 60px 0px;
}
#book-appointment-box {
    display: flex;
    justify-content: center;
    background-color: #f6faff;
    padding: 60px;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #e5f0ff;
    font-family: "Raleway";
    min-width: 600px;
}
#new-appointment-form {
    display: flex;
    flex-direction: column;
}
#na-label {
    font-size: 14px;
    margin-bottom: 0px;
}
#chosenAppointmentTypeDuration, #chosenDate, #chosenTime {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    min-width: 250px;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: #d5d5d5;
}
.book-appointment-button {
    margin-top: 25px;
}

/*========== BOOTSTRAP CUSTOMIZATION ==========*/
.modal-body {
    margin: 10px 0px 15px 0px;
}
.modal-dialog {
    margin-top: -93.5px;
}

/*========== MEDIA QUERIES ==========*/
@media (max-width: 1250px) {
    nav, #homepage-banner-1, #homepage-banner-2, #footer-block {
        flex-wrap: wrap;
        min-width: 750px;
    }
    #welcome-message {
        justify-content: center;
    }
    #banner1-1 {
        text-align: center;
    }
    #banner1-2 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }
    #main-banner-image {
        margin: auto;
        margin-bottom: -100px;
    }
    #footer-block {
        flex-wrap: wrap;
        justify-content: center;
    }
}