<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Customer - Appt</title>
</head>
<body>
    <h1>Create New Customer</h1>
    <form action="/customer" method="POST">
        <fieldset>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" placeholder="Customer Name">
        </fieldset>
        <fieldset>
            <label for="phone">Phone Number:</label>
            <input id="phone" type="text" name="phone" placeholder="Customer Phone Number">
        </fieldset>
        <fieldset>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" placeholder="Customer Email">
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</body>
</html>