<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Customer - Appt</title>
</head>
<body>
    <h1>Create New Customer</h1>
    <form action="/customer" method="POST">
        <fieldset>
            <label for="firstName">First Name:</label>
            <input id="firstName" type="text" autocomplete="off" spellcheck="false" name="firstName" placeholder="First Name">
        </fieldset>
        <fieldset>
            <label for="lastName">Last Name:</label>
            <input id="lastName" type="text" autocomplete="off" spellcheck="false" name="lastName" placeholder="Last Name">
        </fieldset>
        <fieldset>
            <label for="email">Email Address:</label>
            <input id="email" type="text" autocomplete="off" spellcheck="false" name="email" placeholder="Email Address">
        </fieldset>
        <fieldset>
            <label for="phone">Phone Number:</label>
            <input id="phone" type="text" autocomplete="off" spellcheck="false" name="phone" placeholder="Phone Number">
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input id="password" type="password" autocomplete="off" spellcheck="false" name="password" placeholder="Password">
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</body>
</html>