<!DOCTYPE html>
<html lang="en" id="register-html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/style.ejs") %>
    <title>Sign Up - Appt</title>
</head>
<%- include("../partials/navbar.ejs", {user: user}) %>
<body id="register-page">
    <div id="register-container">
        <form action="/users/register/newserviceprovider" method="GET">
            <button type="submit" class="register-page-button-frame"><img src="/assets/images/sp-button.png" id="new-sp-button"></button>
        </form>
        <form action="/users/register/newcustomer" method="GET">
            <button type="submit" class="register-page-button-frame"><img src="/assets/images/customer-button.png" id="new-customer-button"></button>
        </form>
    </div>
</body>
</html>